<div class="row" id="login-page">
    <div class="col s4 offset-s4">
        <div class="section sign-in center-align">
            <p class="flow-text">Let's get started..</p>
            <a href="/login/twitter" class="waves-effect waves-light btn">Sign in</a>
        </div>
    </div>
</div>