<div class="row">
    <div class="col s4 offset-s4">
        <div class="section center-align">
            <p class="flow-text">Let's get started..</p>
            <a href="/login/twitter" class="waves-effect waves-light btn">Sign in with Twitter</a>
        </div>
    </div>
</div>