<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!" class="blue-text text-lighten-1">one</a></li>
    <li><a href="#!" class="blue-text text-lighten-1">two</a></li>
    <li class="divider"></li>
    <li><a href="#!" class="blue-text text-lighten-1">Logout</a></li>
</ul>
<nav>
    <div class="nav-wrapper white">
        <a href="/" class="brand-logo center blue-text text-lighten-1">
            <img src="/assets/img/social-icons/twitter.png" alt="logo" width="30" style="position: relative;top: 5px;"> ontrack
        </a>
        <ul class="right hide-on-med-and-down blue-text text-lighten-1">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button blue-text text-lighten-1" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>


<script>
    $(document).ready(function(){
        $(".dropdown-button").dropdown();
    })
</script>