AddDefaultCharset UTF-8

Options +FollowSymlinks -MultiViews -Indexes
RewriteEngine on

IndexIgnore *

RewriteCond %{HTTP_HOST} ^www.ontrack.com$ [NC]
RewriteRule ^(.*)$ http://ontrack.com/$1 [R=301,L]

## Mod_rewrite in use.
RewriteEngine On
RewriteBase /

## Error Documents
## If is installed in a subfolder, change the below line to ErrorDocument 404 /name-of-subfolder/error_404.php
ErrorDocument 404 /http-errors/404.php

## Begin - Rewrite rules to block out some common exploits.
# If you experience problems on your site block out the operations listed below
# This attempts to block the most common type of exploit `attempts` to J!
#
# Block out any script trying to base64_encode data within the URL.
RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL.
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL.
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Return 403 Forbidden header and show the content of the root homepage
RewriteRule .* index.php [F]

## SEF Section.
#
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#
# If the requested path and file is not /index.php and the request
# has not already been internally rewritten to the index.php script
RewriteCond %{REQUEST_URI} !^/w\.php
# and the requested path and file doesn't directly match a physical file
RewriteCond %{REQUEST_FILENAME} !-f
# and the requested path and file doesn't directly match a physical folder
RewriteCond %{REQUEST_FILENAME} !-d

### END OF REDIRECTS ###

## Login
RewriteRule ^login?$ auth/loginpage.php [QSA,L]
RewriteRule ^login/twitter?$ auth/login/twitter.php [QSA,L]
RewriteRule ^logout?$ auth/logout.php [QSA,L]